@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --animate-pulse-slow: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
}

body {
  @apply bg-gray-900 m-0 p-0 overflow-hidden font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #282c34;
}
::-webkit-scrollbar-thumb {
  background: #4b5263;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c6370;
}
